body{
  background:#cc9999;
  font-size: 14px;
  font-family: 'Courier New', Courier, monospace;
  color: #fff;
  text-align: center;
  margin: 0;
}

main{
  color: #000;
  background: #fff;
  padding-top: 18px;
  width: 400px;
  height: 500px;
  margin: 0 auto;
  border-radius: 5px;
}

main #search{
  display: flex;
  justify-content: center;
}

#btn{
  background: #cc9999;
  color: #fff;
  margin-left: 8px;
  border: 1px solid #aaa;
  width: 50px;
  border-radius: 4px;
  user-select: none;
  line-height: 18px;
  height: 18px;
  cursor: pointer;
  box-shadow: 0 2px #bbb;
}
#btn:active{
  box-shadow: none;
  margin-top: 2px;
}

main > #newSite{
  background:#faebd7;
  width: 250px;
  height: 380px;
  margin: 25px auto;
  border-radius: 5px;
  border: 1px solid #bbb;
  margin-bottom: 8px;
}

a{
  text-decoration: none;
  cursor: pointer;
  user-select: none;
}
ul{
list-style-type: none;
padding: 0;
width: 250px;
height: 345px;
margin: 0 auto;
  
}
li{
  margin: 10px auto;
}

#siteVer{
  font-size: 16px;
}
img{
  width: 40px;
  height: 40px;
}
nav{
  width: 120px;
  height: 30px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
#pagi{
  width: 120px;
  height: 30px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
 #pagi > li{
   margin: 0 4px;
    cursor: pointer;
    user-select: none;
 }
 #prev ,#next{
   user-select: none;
  cursor: pointer;
  }
  #prev:active ,#next:active,.pagi{
    color:#A52A2A ;
  }

@media(max-width:400px){
  main{
    width: 300px;
  }
  #newSite{
    width: 250px;
  }
}

